body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1, h2, h4 {
    margin-bottom: 0.5em;
    color: #ffff}

h3 {
    margin-bottom: 0.3em;
}

.mission, .offerings {
    padding: 20px;
}

.service {     
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
